*{
    margin: 0;
	padding: 0;
	box-sizing: border-box;
 }
 
 .container{
 	width:100%;  
	height: 100vh;
	background:#FFCC66;
}
.swiper{ 
	width:88%;
	heigth:fit-content;  
} 
.swiper-slide img {
	width:100%;
	height:100vh;
}  
.container {
  margin: 50px auto;
  width: 500px;
  height: 300px;
  overflow: hidden;
  border: 10px solid;
  border-top-color: #856036;
  border-left-color: #5d4426;
  border-bottom-color: #856036;
  border-right-color: #5d4426;
  position: relative;
}